@model Toilet_Clicker.Models.Toilets.ToiletCreateViewModel

<div>
	<form method="post" actiontype="multipart/form-data">
		<input asp-for="CreatedAt" type="hidden" />
		<input asp-for="Power" value="1" type="hidden" />
		<input asp-for="Speed" value="1" type="hidden" />
		<input asp-for="Score" value="0" type="hidden" />
		<input asp-for="ToiletWasBorn" type="hidden" />

		<div class="form-group-row">
			<label asp-for="ToiletName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="ToiletName" class="form-control" />
			</div>
		</div>

		<div class="form-select-lg">
			<label asp-for="Files" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-5">
				<div class="custom-file">
					<input class="form-control custom-file-input"
					asp-for="Files"
					multiple type="file"
				/>
				<label class="custom-file-label">Choose Images from device -></label>
				</div>
			</div>

		</div>

		<a asp-action="create" asp-controller="toilets" type="submit" 
		class="btn btn-primary" value="Make Toilet"></a>
		<a asp-action="index" class="btn btn-primary">Cancel</a>

	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$(".custom-file-input").on("change", function () {
				var fileLabel = $(this).next(".custom-file-input");
				var files = $(this)[0].files;
				if (files.Length > 1) {
					fileLabel.html(files.Length + " files selected");
				}
				else if (files.Length == 1) {
					fileLabel.html(files[0].name);
				}
			}
			);
		}
		);
	</script>
}