@model Toilet_Clicker.Models.Toilets.ToiletCreateViewModel

<div>
	<form method="post" asp-action="Update" actiontype="multipart/form-data">

		<div class="form-group-row">
			<label asp-for="ToiletName" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="ToiletName" class="form-control" />
			</div>
		</div>

		<div class="form-select-lg">
			<label asp-for="Files" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-5">
				<div class="custom-file">
					<input class="form-control custom-file-input"
						   asp-for="Files"
						   multiple type="file" />
					<label class="custom-file-label">Choose Images from device -></label>
				</div>
			</div>

		</div>
		<div>
			@foreach(var image in Model.Image)
			{
				<partial name="_Images" model="image"></partial>
				<input asp-action="removeImage" asp-controller="toilets" asp-route-id="@image.ImageID" type="submit" class="btn btn-danger" value="DELETE DIS!"/>
			}
		</div>

		<input asp-action="Update" asp-controller="Toilets" type="submit"
			   class="btn btn-primary" value="Change this toilet" />
		<a asp-action="index" class="btn btn-primary">Cancel</a>

	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$(".custom-file-input").on("change", function () {
				var fileLabel = $(this).next(".custom-file-input");
				var files = $(this)[0].files;
				if (files.Length > 1) {
					fileLabel.html(files.Length + " files selected");
				}
				else if (files.Length == 1) {
					fileLabel.html(files[0].name);
				}
			}
			);
		}
		);
	</script>
}